body {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 14px;
}

/* PAGE STRUCTURE */
div#header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    display: table;
    background: #222222;
    color: white;


}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background-color: #002E09;
}



div#menu {
    position: absolute;
    /*top: 700px;*/
    left: 0px;
    height: 50px;
    width: 100%;
    display: table;
    table-layout: fixed;
    border-spacing: 115px 0px;
    background: #002E09;
    font-size: 12px;
    z-index: 3000;


}

div#content {
    position: absolute;
    top:50px;
    left: 20px;
    right: 50px;
    color: #E8D6D2;
}

div#content1 {
    position: absolute;
    top:70px;
    left: 20px;
    right: 50px;
    color: #E8D6D2;
}

div#content3 {
    position: absolute;
    top:50px;
    left: 20px;
    right: 50px;
    color: #E8D6D2;
}

div#content4 {
    position: relative;
    top:50px;
    left: 20px;
    right: 10px;
    color: #E8D6D2;
}


div#footer {
    position: absolute;
    bottom: 50px;
    right: 20px;
    height: 30px;
}

/* HEADER */
.maintitle {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    font-weight: bold;
    font-size: 25px;
}

.welcome {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding-right: 20px;
  color: #E8D6D2;
  font-weight: normal;
  font-size: 12px;
}



.welcome a:link, .welcome a:visited {
    color: white;
}

/* MENU */
div#menu a:link, div#menu a:visited {
    color: #E8D6D2;
    font-size: 15px;
    font-weight: bold;
}

div#menu > li {
    display: table-cell;
    vertical-align: middle;
    /*border-right: 1px solid #bbb;*/
    /*border-radius: 25px;*/
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    /*width: 20px;*/
}
/*div#menu > li:last-child {
  border-right: 0;
}*/
/* pulldown menu */
div#menu li  ul {
    display:inline-block;
    position:absolute;
    list-style:none;
    background: #002E09;
    z-index: 1;
    opacity: 0;
    text-align: center;
    font-size: 6px;
    /*width: 50px;*/
}

div#menu li:hover ul {
    opacity: 1;
}

/* LINK */
 /*#544A3D*/
div#menu a:hover{
   color: #E8D6D2;
   font-weight: bold;
   background-color: #5b6642;
}

#applist>a:link, a:visited {
    color: #E8D6D2;
    text-decoration: none;
}

a:link, a:visited {
    color: #E8D6D2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* TABLE */
table {
    border-collapse: collapse;
}

table td,th{
  padding:20px 30px;
  text-align: center;
}
td, th {
    line-height: 18px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    text-align: center;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

table.change-list, table.change-list th, table.change-list td {
    border: 1px solid #ccc;
    text-align: center;
  }
div h1{
  font-weight: bold;
}
div#content a:link, a:visited {
    position: relative;
    top:0px;
    left: 20px;
    right: 10px;
    color: #E8D6D2;
}
