div#content_home {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    background: #34364a;
}

div#homeimg {
    background: #34364a;
    text-align: center;
    position: relative;
    top:-10px;

}

.ti {
  position:  relative;
  top:100px;
}

.cen{
  left:30%;
  position:absolute;
}
