{% extends "base.html" %}

{% block title %}Django's Day{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{% block content %}
<script type="text/javascript" src="http://bpmaker.giffy.me/userdata/user/52/52903/1/parts.js"></script>

<div id="content_home">

    <div id="homeimg">
        <a href="/"><img src="/static/img/aaa.gif" style="width: auto;height: 555px;display: block;margin-left: auto;margin-right: auto;"></a>
    </div>
</div>
{% endblock content %}

{% block footer %}
<div id="footer">
    &copy; Django's Day 2017
</div>
{% endblock footer %}
